body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: #EAD196;
}

.textDiv{
    height: 280px;
    width: 600px;
    background-color: #BF3131;
    border-radius: 10px;
    text-align: justify;
}
#text{
    padding:20px;
    color: white;
    font-size: 35px;
    font-family: 'Comic Neue', cursive;
}
button{
    padding: 10px;
    margin:20px 30px;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    cursor: pointer;
    border: none;
    background-color: #7D0A0A;
    color: white;
}
#btn{
    font-family: 'Comic Neue', cursive;
    
}